flows.json
[{"id":"2b61a75a.b9644","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a0bfe975.4f8fc","type":"http in","z":"2b61a75a.b9644","name":"","url":"/getInfo","method":"get","upload":false,"swaggerDoc":"","x":330,"y":220,"wires":[["b12f89f6.d49d4"]]},{"id":"b12f89f6.d49d4","type":"function","z":"2b61a75a.b9644","name":"","func":"msg.payload = {\n            \"debianVersion\": \"10.0\",\n            \"firmwareVersion\": \"6c3fe3f096a93de3b34252ad98cdccadeb534be2\",\n            \"osRelease\": \"Raspbian GNU/Linux 10 (buster)\",\n            \"serialNumber\": \"0000000098843ef8\",\n            \"revision\": \"a02082\",\n            \"model\": \"\",\n            \"hardware\": \"BCM2835\",\n            \"eth0-Mac\": \"b8:27:eb:84:3e:f8\",\n            \"eth0-IP\": \"\",\n            \"wlan0-Mac\": \"b8:27:eb:d1:6b:ad\",\n            \"wlan0-IP\": \"192.168.101.76\",\n            \"nbUsbConnected\": 0,\n            \"users\": \"74f2f895a9f30f7eb584dd8e53e6cfdf8bbe86f4df280addf4b351b8d36d9f24\",\n            \"failedPasswds\": false,\n            \"failedLogins\": false,\n            \"flows\": [\n                {\n                    \"flowType\": \"gateway\",\n                    \"flowName\": \"Gateway Flow\",\n                    \"flowHash\": \"016a62a9fa5d19bdb2625e694126642a92a1cfdb392e1d47c046dc3feea8af9d\",\n                    \"flowId\": \"bf53984a.26bd38\"\n                }\n            ]\n        };\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":200,"wires":[["d587aece.1577c8"]]},{"id":"d587aece.1577c8","type":"http response","z":"2b61a75a.b9644","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":710,"y":200,"wires":[]}]
